body {
    background-color: rgb(218, 175, 49);
}

h1 {
    margin-top: 50px;
    margin-bottom: 28px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 115, 0);
    font-weight: bold;
    font-size: 70px;
    border: none;
    max-width: 100%;
    border-radius: 20px;
    text-align: center;
}

.grid :hover {
    transform: translateZ(3px) scale(1.01);
}

.grid {
    margin: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    perspective: 800px;
    transition: transform 0.3s ease;
}

.outer {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    max-width: 100%;
    gap: 10px;
    background-color: bisque;

}

.txt {
    margin: 10px auto;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.image img {
    max-width: 80%;
    border-radius: 30px;
}

.inner ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;

}

.inner ul li {
    font-size: 25px;
    max-width: 80vh;

}
@media screen and (max-width:1100px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .grid :hover{
        transform: none;
    }
}
@media screen and (width:720px) {
    
    h1{
        font-size: 30px;
    }
}